/* Header */

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    height: 60px;
    border-bottom: 1px solid lightgrey;
    font-family: Arial;
    z-index: 9999;
}

.left {
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
}

.middle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 600px;
}

.middle input {
    flex: 1;
    font-size: 16px;
    font-family: Arial;
    padding: 10px 50px 10px 20px;
    border-radius: 50px;
    border: 1px solid black;
}

.cancel {
    display: none;
    margin-left: -40px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.cancel:hover {
    border: 1px solid black;
}

.searchResult {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid lightgray;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    padding: 10px;
}

.searchResult div {
    padding: 10px;
    cursor: pointer;
}

.searchResult div:hover {
    background-color: lightgrey;
}

.right img {
    height: 30px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.logOut {
    padding: 10px;
    margin-left: 20px;
    margin-right: 10px;
    color: white;
    background-color: red;
    border-radius: 50px;
    cursor: pointer;
}

.logOut:active {
    background-color: rgb(255, 85, 85);
}