  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
}

p {
    font-family: Arial;
    font-size: 20px;
    margin-top: 6px;
    white-space: pre-line;
}

.post {
    width: 800px;
    border: 1px solid lightgrey;
    padding: 10px 30px;
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.commentDisplay p {
    font-size: 14px;
}

.commentDisplay {
    padding: 10px;
    border: 1px solid lightgrey;
}

.commentBottom {
    margin-top: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 10px;
}

.commentInput {
    font-size: 20px;
    flex: 1;
    border: none;
    padding: 10px;
}

.commentInput:focus {
    outline: none;
}

.addCommentBtn {
    border: none;
    height: 30px;
    width: 80px;
    background-color: rgb(38, 61, 231);
    color: white;
    cursor: pointer;
}

.addCommentBtn:hover {
    border-radius: 0;
}

.author {
    font-size: 16px;
    color: gray;
}
.authorName {
    font-size: 24px;
    color: black;
}

.authorName:hover {
    border-bottom: 1px solid black;
}