body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
}

.form input {
    width: 90%;
    font-size: 24px;
    margin: 10px 0;
    padding: 10px;
}

.form button {
    width: 100px;
}