body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}


.form {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
}

.form input {
    width: 90%;
    font-size: 24px;
    margin: 10px 0;
    padding: 10px;
}

.form button {
    width: 100px;
}

/* Header */

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    height: 60px;
    border-bottom: 1px solid lightgrey;
}

.left {
    border: 1px solid black;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
}

.middle {
    position: relative;
    display: flex;
    flex: 1;
    max-width: 600px;
}

.middle input {
    flex: 1;
    font-size: 16px;
    font-family: Arial;
    padding: 10px 50px 10px 20px;
    border-radius: 50px;
    border: 1px solid black;

}

.middle button {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.right img {
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

/* Homepage */

.homepage {
    width: 800px;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 10px 30px;
    cursor: pointer;
}

.bottom {
    margin-top: auto;
}

.post:hover {
    background-color: rgb(245, 244, 244);
}

.post p {
    font-size: 20px;
    margin-top: 6px;
}

.bottom button {
    border: none;
    background-color: transparent;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.bottom button:hover {
    background-color: lightgrey;
}

.bottom button img {
    width: auto;
    height: 20px;
}
/* Profile */